@model IEnumerable<BorrowedBooks>

<div class="bg-info text-center mb-4 fw-bold">Borrowed Books Management</div>

<a asp-controller="BorrowedBook" asp-action="Create" class="btn btn-primary btn-sm">
    <i class="bi bi-plus-square"></i> Add Borrowed Books
</a>

<div class="table-responsive">
    <table class="table table-sm table-bordered table-hover mt-3">
        <thead>
            <tr>
                <th>MemberId</th>
                <th>BookId</th>
                <th>BorrowDate</th>
                <th>ReturnDate</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                <tr>
                    <td>@data.MemberId</td>
                    <td>@data.BookId</td>
                    <td>@data.BorrowDate</td>
                    <td>@data.ReturnDate</td>
                    <td>@data.Status</td>

                    <td>
                        <a asp-controller="BorrowedBook" asp-action="Edit" asp-route-id="@data.BorrowId" class="btn btn-sm btn-secondary">
                            <i class="bi bi-arrow-left-circle"></i>Update
                        </a>
                        <a asp-controller="BorrowedBook" asp-action="Delete" asp-route-id="@data.BorrowId" class="btn btn-sm btn-danger">
                            <i class="bi bi-arrow-left-circle"></i>Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>